.row {
  margin-left: 20px;
  color: white;
}

.rowPosters {
  padding: 20px;
}

.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster {
  object-fit: contain;
  max-height: 200px;
  margin: 20px;
  cursor: pointer;
  transition: transform 450ms;
}

.rowPoster:hover {
  transform: scale(1.08);
}

.rowPosterLarge {
  max-height: 270px;
}

.rowPoster:hover {
  transform: scale(1.09);
}
