.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  max-height: 130px;
  margin: 20px;
  cursor: pointer;
  transition: transform 450ms;
}

.row-poster:hover {
  transform: scale(1.08);
}

.row-posterLarge {
  max-height: 200px;
}

.row-poster:hover {
  transform: scale(1.09);
}
